.suspenseComponent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}